@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.App {
    font-family: Raleway, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 105vh;
    background-color: rgb(126, 136, 136);
    
}